* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    width: 100%;
    background: #dddbf1;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #dddbf1;
}

.logo img {
    max-height: 50px;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menuItem {
    position: relative;
    margin-left: 20px;
}

.menuItem a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: background-color, 500ms;
}

.menuItem:hover .sub-menu {
    display: block;
}

.menuItem a:hover {
    background-color: #A5CC7A;
}

.menuItem a.active {
    background-color: #3B1A01;
    color: white;
}

.slideshow {
    position: relative;
    background-image: url("Scroll/background1.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
}

.title h1 {
    color: white;
}

.CTA_box {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: white;
    padding: 15px;
    text-align: center;
}

.CTA_box p {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #7A306C;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color, 500ms;
}

button:hover {
    background-color: #AF82A6;
}

.sec3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
.sec3 > * {
    flex: 1 1 50%;
    padding: 20px;
    box-sizing: border-box;
}

.sec3 img {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
}  

.sec4 {
    text-align: center;
    padding: 50px 0;
}

.sec4 .image-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.imgBox {
    margin-bottom: 20px;
}

.imgBox img {
    max-width: 100%;
}

.footer {
    background-color: #3C4F76;
    color: white;
    padding: 40px 0;
}

.info {
    display: flex;
    justify-content: space-around;
}

.infoColumn {
    width: 30%;
}

.infoColumn h3 {
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .menu {
        flex-wrap: wrap;
    }

    .menuItem {
        flex: 1;
    }

    main {
		padding: 10px;
	}

	.genHeadSec {
		padding: 10px;
	}
}

@media screen and (max-width: 480px) {
    .header {
        flex-wrap: wrap;
    }

    .logo {
        width: 100%;
        text-align: center;
    }

    .menu {
        width: 100%;
        justify-content: space-evenly;
    }

    .menuItem {
        flex: initial;
    }

    .rulesAndPolicies a {
        white-space: normal;
    }

    .info {
        flex-wrap: wrap;
    }

    .infoColumn {
        width: 100%;
        margin-bottom: 20px;
    }
}

.slideshow {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgGrid img {
    display: block;
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
    aspect-ratio: 1/1;
  }

.genHeadSec {
    padding: 20px;
}
  
section {
    margin: 20px;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

.RPHeading {
    margin-top: 0;
}

form label {
	display: block;
	margin-top: 10px;
    margin-bottom: 5px;
}

form input[type=text], form input[type=email], form select, form textarea {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;
}


form input[type=submit] {
	background-color: #7A306C;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

form input[type=submit]:hover {
	background-color: #7A306C;
}

.genHeader {
    margin: 0;
}

#testimonialContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.testimonial {
	background-color: rgba(118, 131, 159, 0.5);
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	flex-basis: calc(33.33% - 20px);
	margin-bottom: 20px;
	padding: 20px;
}

.testimonialTxt {
	font-style: italic;
	margin-bottom: 10px;
}

.testimonialAuthor {
	text-align: right;
	font-weight: bold;
}

#blogContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.blogPost {
	flex-basis: calc(33.33% - 20px);
	margin-bottom: 20px;
	padding: 20px;
	background-color: rgba(118, 131, 159, 0.5);
	box-sizing: border-box;
	text-align: center;
}

.blogPost img {
	max-width: 100%;
	margin-bottom: 10px;
}

.blogPost h3 {
	margin-top: 0;
}

.blogPost p {
	margin-bottom: 10px;
}

.blogPost a {
	display: inline-block;
	padding: 5px 10px;
	background-color: #7A306C;
	color: white;
	text-decoration: none;
	border-radius: 5px;
}

.aboutMain {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.aboutSec {
	margin-bottom: 40px;
}

.blogMain {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.post {
    flex: 2;
    margin-right: 2rem;
}

.post h2 {
    margin-bottom: 1rem;
}

.sidebar {
    flex: 1;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 1rem;
}

.sidebar a {
    color: #333;
    text-decoration: none;
}

p {
    font-size: 1em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

figcaption {
    font-size: 0.75em;
}